a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002B5B;
    padding: 16px;
    font-size: 18px;
}

#web_logo{
    width: 50px;
    height: 50px;
    margin-left: 1.5em;
    padding: 0;
}

.header_link{
    display: flex;
    gap: 16px;
}
/* Opening start */
.opening{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #01336b;
    padding: 16px;
    padding-bottom: 50px;

}

.text_opener{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    color: white;
}

#one{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

#join{
    padding: 4px 18px;
    font-size: 14px;
    background-color: #3ff257;
}

#two{
    font-size: 15px;
    margin-top: 0px;
    max-width: 250px;
}

.cams{
    max-width: 300px;
    max-height: 300px;
}
/* This is for opening end*/

.main_body{
    display: flex;
    justify-content: space-evenly;
}

.equipment{
    display:flex;
    flex-direction: column;
}

.cameras{
    max-width: 125px;
    max-height: 125px;
    display: flex;
    flex: 1;
    border: 3px solid #4d4d4d;
}

#main_text{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.quotes{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #4d4d4d;
    padding: 2em;
}

.quotesin{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #4d4d4d;
    margin: 16px;
    color:#d1d1d1;
}
#quotes_1, #quotes_2{
    margin: 8px;
}

#quotes_2{
    font-weight: 800;
}

.join{
    display: flex;
    justify-content: center;
}
.join_box{
    display: flex;
    align-items: center;
    gap:10em;
    background-color: #0078AA;
    padding: 25px 100px;
    margin: 50px;
}
.join_text{
    display: flex;
    flex-direction: column;
    color: white;
}
#join_button{
    font-size: 16px;
    padding: 4px 24px;
    align-self: flex-end;
    background-color: #0078AA;
    border: solid white;
}